@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-image: url("./assets/weather-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  --glassmorphism-bg: rgba(255, 255, 255, 0.2);
  --glassmorphism-backdrop: blur(10px);
  --glassmorphism-border: rgba(255, 255, 255, 0.3);
  --glassmorphism-shadow: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: whitesmoke;
}

.chart-container {
  position: relative;
  width: auto;
  height: 50%;
  background: var(--glassmorphism-bg);
  backdrop-filter: var(--glassmorphism-backdrop);
  -webkit-backdrop-filter: var(--glassmorphism-backdrop);
  border-radius: 16px;
  box-shadow: 0 4px 30px var(--glassmorphism-shadow);
  border: 1px solid var(--glassmorphism-border);
  color: black;
  display: flex;
  margin: 1rem 5rem;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

/* For screens up to 1400px */
@media (max-width: 1400px) {
  .chart-container {
    margin: 1rem; /* Reduced margin for medium screens */
    padding: 1rem; /* Maintain padding */
    height: 30%; /* Adjust height for smaller screens */
  }
}

/* For screens up to 1024px (tablets and smaller) */
@media (max-width: 1024px) {
  .chart-container {
    margin: 0.5rem; /* Further reduce margin */
    padding: 1rem; /* Keep padding */
    height: auto;
/* Adjust height */
    flex-direction: column; /* Ensure the flex direction remains */
  }
}

/* For mobile screens */
@media (max-width: 768px) {
  .chart-container {
    margin: 0.5rem; /* Small margin for mobile */
    padding: 0.5rem; /* Less padding for mobile */
    height: 80%; /* Adjust height further */
    width: 95%; /* Full width on mobile */
  }
}
